[Desktop Entry]
Type=Application
Name=KPT Workbench
Comment=View, play, convert, and render KITTI point clouds
Exec=pc_gui
Terminal=false
Categories=Graphics;Science;DataVisualization;
StartupNotify=true
